.container-principal {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(3, 3, 3);
  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.block-0 {
  background-color: white;
  box-shadow: 0 0 10px rgb(4, 4, 4);
  justify-content: space-between;
  display: flex;
  width: 100vw;
  height: 40px;
}

.block-1 {
  flex-direction: row-reverse;
  background-color: white;
  width: 30px;
  height: 40px;
}

.image-1 {
  width: 40px;
  height: 30px;
  border-radius: 5px;
}

.block-2 {
  background-color: white;
  display: flex;
  width: 350px;
  height: 40px;
}

.input {
  margin-bottom: 10px;
}

.input-1 {
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  width: 265px;
  height: 7px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
}

.perfil-1 {
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

/* Space down */

.space-1 {
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
  margin-top: 2px;
  width: 100vw;
  height: 100vh;
}

.space-block {
  background-color: rgb(233, 14, 14);
  margin-left: 2px;
  margin-top: 23px;
  border-radius: 7px;
  width: 300px;
  height: 230px;
}
