  
  .iconClose {
    float: right;
    cursor: pointer;
  }
  
  .categories {
    max-width: 800px;
    max-height: 350px;
    overflow: auto;
    margin-right: 25px;
  }
  
  .categories ul {
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 
  
  .categories li {
    width: 200px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-image: linear-gradient(to right, #065f46 , #2dd4bf);
    border-radius: 10px;
    margin-right: 10px;
    color: #e2e8f0;
    font-weight: bold;
    transition: 0.75s;
   }
  
   .categories li:hover {
    transform: scale(1.10);
   }