.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.top {
  margin-top: 89px;
  color: chartreuse;
  font-size: 40px;
  font-family: "Inter", sans-serif;
}

.left-pane {
  flex: 6;
  background-color: blue;
  background-image: url("../../assets/banner-lanche.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-position: 100% 80%;
}

.right-pane {
  flex: 4;
  background-color: green;
}

.input {
  width: 400px;
  height: 40px;
  border-radius: 24px;
  padding: 15px;
  font-size: 17px;
}

.login {
  margin-top: 25px;
  /* text-align: center; */
}

button {
  background-color: aqua;
  margin-top: 26px;
  width: 150px;
  font-size: 19px;
  height: 50px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 7px;
}

button:hover {
  background-color: #22d3ee;
}

/* left space */

image {
  width: 100vw;
  height: 100vh;
}

.link {
  color: #fff;
}

.link a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
