.products {
    max-width: 800px;
    max-height: 350px;
    overflow: auto;
    margin-right: 25px;
  }
  
  .products ul {
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .products li {
    width: 320px;
    height: 70px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background: rgb(37,164,196);
    background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    margin-right: 10px;
    color: #e2e8f0;
    font-weight: bold;
    transition: 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
   .products li:hover {
    transform: scale(1.06);
   }
  