body {
  background: rgb(203,213,225);
  background: linear-gradient(90deg, rgba(203,213,225,1) 23%, rgba(226,232,240,1) 61%);
}
.container {
  display: block;
}

.ROW {
  height: 100px;
  box-shadow: 0 0 10px rgb(131, 58, 58);
}

.contentCategories {
  display: flex;
  justify-content: center;
}

.buttonCategory {
  background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);-image: linear-gradient(to right, #065f46 , #2dd4bf);
  border: 1px solid #FFF;
  color: #FFF;
}

.buttonCategory:hover {
  animation: shakeButton 2s infinite;
}

.buttonProduct {
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  border: 1px solid #FFF;
  color: #FFF;
}

.buttonProduct:hover {
  animation: shakeButton 2s infinite;
}

// Area de categorias

.category {
  background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);

  color: #fff;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 20px;

  animation: handerPage 2s;
}

.category input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #065f46;
  font-family: "Inter", sans-serif;
}

.category input:focus {
  outline: none;
  background: #eee; 
}

.category select {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #065f46;
  margin-bottom: 13px;
  text-decoration: none solid rgb(0, 0, 0);
}

.category select:focus {
  outline: none;
  background: #eee; 
}
  

.listCategory {
  margin-left: 30px;
  margin-right: 30px;
}

.listCategory button {
  margin-top: 35px;
}

//Area de produtos

.product {
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  color: #fff;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 20px;

  animation: handerPage 2s;
}

.product input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #0891b2;
  font-family: "Inter", sans-serif;
}

.product input:focus {
  outline: none;
  background: #eee; 
}

.product select {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #0891b2;
  margin-bottom: 13px;
  text-decoration: none solid rgb(0, 0, 0);
}

.product select:focus {
  outline: none;
  background: #eee; 
}
  

.listProduct {
  margin-left: 30px;
  margin-right: 30px;
}

.listProduct button {
  margin-top: 35px;
}




@keyframes handerPage {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shakeButton {
  10% { transform: scale(1.05) rotate(5deg); }
  20% { transform: scale(1.05) rotate(-5deg); }
  30% { transform: scale(1.05) rotate(5deg); }
  40% { transform: none; }
}
