body {
  background: rgb(203,213,225);
  background: linear-gradient(90deg, rgba(203,213,225,1) 23%, rgba(226,232,240,1) 61%);
}
.container {
  display: block;
  color: #0f172a;
}

.content h2 {
  margin-top: 65px;
}

.ROW {
  height: 100px;
  box-shadow: 0 0 10px rgb(131, 58, 58);
}

.titleWaves span {
  position: absolute;
  color: #FFF;
  font-size: 4rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
  margin-top: 45px;
}

.titleWaves span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px #3bd9d9;
}

.titleWavesCategory span:nth-child(2) {
  color: rgb(30,144,255);
  -webkit-text-stroke: 1px #3bd9d9;
  animation: animationWaves 3s ease-in-out infinite;
}

//Title Product

.titleWavesProduct span:nth-child(2) {
  color: rgb(0, 128, 128);
  -webkit-text-stroke: 1px #3bd9d9;
  animation: animationWaves 3s ease-in-out infinite;
}



.contentCategories {
  display: flex;
  justify-content: center;
}

.buttonCategory {
  background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);-image: linear-gradient(to right, #065f46 , #2dd4bf);
  border: 1px solid #FFF;
  color: #FFF;
}

.buttonCategory:hover {
  animation: shakeButton 2s infinite;
}

.buttonProduct {
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  border: 1px solid #FFF;
  color: #FFF;
}

.buttonProduct:hover {
  animation: shakeButton 2s infinite;
}

// Area de categorias

.category {
  background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);

  color: #fff;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 20px;

  animation: handerPage 2s;
}

.category input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #065f46;
  font-family: "Inter", sans-serif;
}

.category input:focus {
  outline: none;
  background: #eee; 
}

.category select {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #065f46;
  margin-bottom: 13px;
  text-decoration: none solid rgb(0, 0, 0);
}

.category select:focus {
  outline: none;
  background: #eee; 
}


  

.listCategory {
  margin-left: 30px;
  margin-right: 30px;
}

.listCategory button {
  margin-top: 35px;
}

//Area de produtos

.product {
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  color: #fff;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 20px;

  animation: handerPage 2s;
}

.product input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #0891b2;
  font-family: "Inter", sans-serif;
}

.product input:focus {
  outline: none;
  background: #eee; 
}

.product select {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  border: 3px solid #0891b2;
  margin-bottom: 13px;
  text-decoration: none solid rgb(0, 0, 0);
}

.product select:focus {
  outline: none;
  background: #eee; 
}
  

.listProduct {
  margin-left: 30px;
  margin-right: 30px;
}

.listProduct button {
  margin-top: 35px;
}

// Modal

.modal-overlay {
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

// Modal Category

.modalContentCategory {
  width: 90%;
  height: 60%;
  max-width: 800px;
   background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);
  padding: 50px;
  border-radius: 24px 150px;
  font-size: 30px;
  color: #f1f5f9;
  animation: modal 3s;
}

.iconClose {
  float: right;
  cursor: pointer;
  transition: 0.5s;
}

.iconClose:hover {
  transform: scale(1.09);
}


 // Modal Product

 .modalContentProduct {
  width: 90%;
  height: 60%;
  max-width: 800px;
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  padding: 50px;
  border-radius: 24px 150px;
  font-size: 30px;
  color: #f1f5f9;
  animation: modal 3s;
}




// Animações


@keyframes handerPage {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shakeButton {
  10% { transform: scale(1.05) rotate(5deg); }
  20% { transform: scale(1.05) rotate(-5deg); }
  30% { transform: scale(1.05) rotate(5deg); }
  40% { transform: none; }
}

@keyframes animationWaves {
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes modal {
  0% {
    height: 0;
    width: 0;
  }
}

// Controle baseado no tamanho da tela
@media (max-width: 1730px) {
    .category {
      width: 300px;
    }

    .category h1 {
      font-size: 30px;
    }

    .listCategory button {
      margin-top: 15px;
    }
}


@media (max-width: 1370px) {
  .category {
    width: 200px;
    height: 160px;
    align-items: center;
  }

  .category h1 {
    font-size: 20px;
    
  }

  .category input {
    width: 150px;
    font-size: 11px;
  }

  .category select {
    width: 150px;
    font-size: 11px;
  }

  .category button {
    width: 150px;
  }

  .listCategory {
    margin-bottom: 5px;
  }

  .titleWaves span {
    font-size: 3rem;
  }
}


@media (max-width: 1050px) {
  .category {
    width: 150px;
    height: 80px;
  }

  .category h1 {
    margin-top: 0;
    font-size: 15px;
    
  }

  .category h4 {
    margin-top: 0;
    font-size: 10px;
    
  }

  .category input {
    width: 130px;
    height: 20px;
    font-size: 7px;
  }

  .category select {
    width: 130px;
    height: 20px;
    font-size: 7px;
  }

  .category button {
    width: 100px;
    height: 30px;
    margin-right: 40px;
  }

  .listCategory button {
    margin-bottom: 10px;
    
  }

  .deleteCategory button {
    margin-left: 27px;
  }

  .titleWaves span {
    font-size: 3rem;
  }
}

@media (max-width: 876px) {
  .contentCategories {
    display: block;
    margin-left: 15rem;
  }

  .category {
    width: 200px;
  }

  .registerCategory button {
    margin-left: 30px;
  }

  .listCategory{
    margin-left: 0;
  }
}


@media (max-width: 720px) {
  .contentCategories {
    margin-left: 13.5rem;
  }
}