.container {
  display: block;
}

.ROW {
  height: 100px;
}

.content {
  display: flex;
  justify-content: center;
}
.category {
  background: rgb(37,164,196);
  background: linear-gradient(90deg, rgba(37,164,196,1) 12%, rgba(14,116,144,1) 29%, rgba(21,94,117,1) 51%, rgba(37,164,196,1) 77%, rgba(0,212,255,1) 100%);

  color: #fff;
  width: 400px;
  height: 200px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 20px;

  animation: handerPage 2s;
}

.category input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;

}

.register-category input {
  border: 3px solid #065f46;
}

.register-category input:focus {
   outline: none;
   background: #eee; 
}

.register-category button {
  background-image: linear-gradient(to right, #065f46 , #2dd4bf);
  border: 1px solid #FFF;
  color: #FFF;
}
  

.list-category {
  margin-left: 30px;
  margin-right: 30px;
}




@keyframes handerPage {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0);
  }
}
