.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

/* .div {
 flex: 3px;
  background-color: black;
} */

/* .div2 {
 flex: 7px;
  background-color: aqua;
} */

.h1 {
  color: blue;
}