.container {
  background-color: rgb(206, 28, 28);
  display: flex;
  width: 100vw;
  height: 100vh;
  /* flex-direction: row; */
  flex-direction: row-reverse;
}

.div {
  width: 100vw;
  height: 60px;
  display: flex;
 align-self: flex-start;
  flex-direction: row;
 flex-direction: row-reverse;
background-color: blue;
}

/* .div2 {
 flex: 7px;
  background-color: aqua;
} */

.h1 {
  align-self: center;
  display: flex;
  color: blue;
}

.input2 {
  font-size: 20px;
  width: 300px;
  height: 30px;
}

.gif {
  width: 100px;
  justify-items: left;
  height: 100px;
  background: url('../../assets/foguete.gif') no-repeat center center;
  background-color: transparent;
}
.perfil {
 width: 40px;
 height: 40px;
}