.container {
  flex: 1;
  background-color: white;
  flex-direction: column;
 justify-content: center;
 
}

div {
  justify-content: space-between;
  background-color: white;
  flex-direction: row;
  display: flex;
  width: 100vw;
  height: 30px;
}

.div {
  justify-content: space-between;
  background-color: white;
  flex-direction: row;
  box-shadow: 0 0 10px rgb(3, 3, 3);
  display: flex;
  width: 100vw;
  height: 40px;
}

.div2 {
  flex-direction: row;
  margin-right: 7px;
  width: 340px;
  height: 40px;
}

.gif {
  border-radius: 16px;
  margin-top: 4px;
  width: 40px;
  height: 35px;
  margin-left: 7px;
}

.image {
  border-radius: 16px;
  margin-top: 4px;
  width: 40px;
  height: 35px;
  margin-right: 7px;
}

.div3 {
  flex-direction: row;
  margin-right: 7px;
  width: 340px;
  height: 40px;
}

.input {
 font-family: 'Inter', sans-serif;
  width: 265px;
  height: 7px;
  font-size: 12px;
  padding: 10px;
  margin-top: 4px;
}


 

.div14 {background-color: blue;
  
  flex-direction: column;
  margin-top: 12px;
  margin: 5px;
  width: 100vw;
  height: 100vh;
}

.bloco {
  background-color: aqua;
  width: 300px;
  height: 300px;
}

.bloco2 {
  background-color: rgb(255, 127, 223);
  width: 300px;
  height: 300px;
}

.bloco3 {
  background-color: brown;
  width: 300px;
  height: 300px;
}

  /* background-color: rgb(206, 28, 28);
  display: flex;
  width: 100vw;
  height: 100vh;
} */

/* .div2 {
 flex: 7px;
  background-color: aqua;
} */

.h1 {
  align-self: center;
  display: flex;
  color: blue;
}

.input2 {
  font-size: 20px;
  width: 300px;
  height: 30px;
}


.perfil {
  width: 50px;
  height: 50px;
}
