.container {
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
  
}

/* .div {
 justify-content: space-around;
  width: 100px;
  height: 100px;
  background-color: aqua;
} */

/* .div2 {
 flex: 7px;
  background-color: aqua;
} */

.h1 {
  align-self: center;
  display: flex;
  color: blue;
}

.input2 {
  font-size: 20px;
  width: 300px;
  height: 30px;
}

.gif {
  width: 100px;
  height: 100px;
  background: url('../../assets/foguete.gif') no-repeat center center;
  background-color: transparent;
}
.perfil {
 width: 40px;
 height: 40px;
}