.container-principal {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(3, 3, 3);
  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.block-0 {
  background-color: white;
  box-shadow: 0 0 10px rgb(4, 4, 4);
  justify-content: space-between;
  display: flex;
  width: 100vw;
  height: 40px;
}

.block-1 {
  flex-direction: row-reverse;
  background-color: white;
  width: 30px;
  height: 40px;
}

.image-1 {
  width: 40px;
  height: 30px;
  border-radius: 5px;
}

.block-2 {
  background-color: white;
  display: flex;
  width: 350px;
  height: 40px;
}

.input-1 {
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  width: 265px;
  height: 7px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
}

.perfil-1 {
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

/* Space down */

.space-1 {
  background-color: black;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 7px;
  margin-right: 7px;
  width: auto;
  height: auto;
}

.space-block {
  background-color: rgb(233, 14, 14);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  border-radius: 12px;
  width: 390px;
  height: 230px;
}

@media (max-width: 600px) {
  .space-block {
    width: 50%;
    height: 50%;
  }
}

.image-4 {
  margin-top: 17px;
  border-radius: 12px;
  width: 230px;
  height: 140px;
}

.text {
  color: black;
  /* background-color: wheat; */
}

.space-text {
  border-radius: 10px;
  margin-left: 14px;
  background-color: wheat;
  /* margin-left: 7px; */
  margin-right: 7px;
  width: 280px;
  height: auto;
}

.modal-overlay {
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  justify-content: center;
  align-items: center;
  margin:7px;
  border-radius: 12px;
  width: 390px;
  height: 230px;
}


@media (max-width: 600px) {
  .space-block {
    width: 50%;
    height: 50%;
  }
}


.image-4 {
  margin-top: 17px;
  border-radius: 12px;
  width: 230px;
  height: 140px;
}

.text {
  color: black;
  /* background-color: wheat; */
}

.space-text {
  border-radius: 10px;
  margin-left: 14px;
  background-color: wheat;
  /* margin-left: 7px; */
  margin-right: 7px;
  width: 280px;
  height: auto;
}
