.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: scroll;
  overflow: auto;
}

.ROW {
  background-color: white;
  box-shadow: 0 0 10px rgb(131, 58, 58);

  height: 200px;
}

.space {
  justify-content: space-between;
  background-color: white;
  display: flex;
  width: 100vw;
  height: 100px;
}

.logo {
  background-color: white;
  width: 410px;
  height: 100px;
}

.input-1 {
  font-family: "Inter", sans-serif;
  margin-top: 12px;
  font-size: 17px;
  border-radius: 8px;
  margin-left: 3px;
  width: 400px;
  height: 50px;
}

.logo-pesquisa {
  background-color: white;
  display: flex;
  width: 100px;
  height: 100px;
}

.editar {
  color: #0891b2;
  background-color: #000;
  margin-inline-start: 12px;
  font-family: "Inter", sans-serif;

  /* margin-left: 7px; */
}

.perfil-1 {
  margin-top: 12px;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.space-1 {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 100px;
}

.space-title {
  opacity: 0.5;
  width: 100px;
  color: #ececec;
  color: #155e75;
}

.men {
  overflow-x: scroll;
  width: auto;
  height: auto;
}

.dolwn {
  background-color: white;
  justify-content: space-between;
  display: flex;
  /* overflow-x: scroll; */
  width: 100vw;
  height: auto;
}

.red {
  background-color: white;
  box-shadow: 0 0 10px rgb(131, 58, 58);
  flex-direction: column;
  border-radius: 8px;
  margin-top: 12px;
  margin-left: 7px;
  width: 400px;
  margin-right: 7px;
  height: 200px;
}

/* Da qui para fente são dos espaços dentro das imagem  */

.image-1 {
  width: 400px;
  height: 150px;
}

.separe {
  border-radius: 8px;
  background-color: white;
  width: 400px;
  height: 150px;
}

.pequno {
  display: flex;
  width: 400px;
  height: 50px;
}

.separe-2 {
  background-color: white;
  width: 300px;
  height: 50px;
}

.separe-3 {
  align-content: center;
  background-color: white;
  width: 100px;
  height: 50px;
}

.button-2 {
  width: 30px;
  height: 20px;
}

/* Parte do modal  */

.modal-overlay {
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  height: 60%;
  max-width: 800px;
  background-color: #155e75;
  padding: 50px;
  border-radius: 24px 150px;
  font-size: 30px;
  color: #f1f5f9;
  animation: modal 3s;
}

.modal-content input {
  width: 50px;
  height: 25px;
  border-radius: 7px;
  font-size: 20px;
  text-align: center;
}

.icon-close {
  float: right;
  cursor: pointer;
}
.icon-add {
  margin-top: 40px;
  margin-left: 5px;
}

.count-container {
  display: flex;
  justify-content: column;
}

.modal-left {
  float: left;
}

.modal-right {
  float: right;
  align-items: center;
  margin-top: 90px;
}

.modal-right button {
  margin-left: 90px;
  background-color: #0891b2;
  color: #cbd5e1;
  transition: 1s;
}

.modal-right button:hover {
  background-color: #67e8f9;
  color: #000;
}

@keyframes modal {
  0% {
    height: 0;
    width: 0;
  }
}

@media (max-width: 600px) {
  .space-block {
    width: 50%;
    height: 50%;
  }
}
