.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.top {
  margin-top: 89px;
  color: chartreuse;
}

.left-pane {
  flex: 6;
  background-color: blue;
}

.right-pane {
  flex: 4;
  background-color: green;
}

.input {
  width: 400px;
  height: 40px;
  border-radius: 24px;
  padding: 9px;
  font-size: 17px;
}

.login {
  margin-top: 25px;
}